<header class="header grid">
  <div class="logo d-inline"><img src="/assets/icons/bcr-logo.svg" alt="BCR-Logo" /></div>
  <div class="item-menu grid text-center d-inline">
    <div id="menu" class="g-col-6 g-col-md-4 d-inline m-2">Our Services</div>
    <div id="menu"class="g-col-6 g-col-md-4 d-inline m-2">Why Us</div>
    <div id="menu" class="g-col-6 g-col-md-4 d-inline m-2">Testimonial</div>
    <div id="menu" class="g-col-6 g-col-md-4 d-inline m-2">FAQ</div>
    <div id="menu" class="g-col-6 g-col-md-4 d-inline m-2">
      <button type="button" class="btn btn-success btn-sm m-2">Register</button>
    </div>
  </div>
</header>

<style>
  .header {
    background-color: white;
    width: 100%;
    height: auto;
    margin: 1.2rem;
  }

  .logo {
    margin-right: 65%;
  }

 #menu {   
    cursor: pointer;
 }
</style>
